@charset 'utf-8';

/**
 * CORE BRANDING API
 * -------------------------------------------------------------------
 */

@import '@a-ui/core/dist/assets/styles/quarks';



/**
 * CUSTOM STYLING FOR STYLEGUIDE
 * -------------------------------------------------------------------
 */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
 }

main {
  display: flex;
  flex: 1;
}

.o-header {
  display: flex;
  justify-content: space-between;
}

.o-header__left,
.o-header__right {
  align-items: center;
  display: flex;
}

.o-header__logo {
  position: static;

  img {
    height: $spacer * 2;
  }
}

.o-header__app-title {
  font-weight: 700;
  margin-left: $spacer-xs;
}

.o-sidebar {
  background: $grey-lighter;
  border-right: 1px solid $border-color;
  width: 16.25rem;

  .m-selectable-list {
    li {
      border: none;

      &:first-child {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}
